#NavBar {
    height: 100px;
    background-color: black;
    border: 1px solid black;
}

#NavBar-Nav {
    height: 80%;
    padding-left: 0px;
}

#NavBar-left {
    display: table;
    width: 10%;
    height: 78%;
    text-align: center;
    float: left;
    border: 1px solid black;
    margin-left: 5px;
    margin-top: 10px;
    background-color: white;
}

#NavBar-right {
    display: table;
    width: 10%;
    height: 78%;
    text-align: center;
    float: right;
    border: 1px solid black;
    margin-right: 5px;
    margin-top: 10px;
    background-color: white;
}

#NavBar-link {
    vertical-align: middle;
    display: table-cell;
}

#NavBar-center {
    position: absolute;
    margin-top: 0px;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    color: white;
}