#NewPost {
    margin: 25px;
    background-color: lightgray;
    text-align: center;
}

#NewPost-form {
    height: 80px;
}

#NewPost-post {
    margin-top: 15px;
    height: 30px;
}

#NewPost-button {
    margin-top: 15px;
}